@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply flex min-h-screen flex-col justify-between;
  }

  body {
    @apply my-0 flex flex-col bg-background px-8 text-contrast;
  }

  section {
    @apply grid gap-5;
  }

  a,
  option,
  label,
  *[role="button"],
  button:not([disabled]),
  input:not([disabled]),
  textarea:not([disabled]),
  select:not([disabled]) {
    @apply touch-manipulation;
  }

  h3 {
    @apply text-low-contrast;
  }

  em {
    @apply font-serif text-[17px] text-high-contrast;
  }

  ::selection {
    @apply bg-sky-100 text-background;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[74ch] md:px-12;
  }

  .arrow-icon svg {
    opacity: 0;
    position: relative;
    transition: all 0.275s ease-out;
    transform: translateX(-15px);
  }

  .arrow-icon:hover svg {
    opacity: 1;
    transform: translateX(0px);
  }

  .social-link {
    @apply arrow-icon flex items-center gap-1 text-high-contrast;
  }

  .separator {
    @apply my-5 h-[1px] w-24 border-0 bg-subtle;
  }
}
